table {
  border: 5px solid black;
  margin: auto;
}

td {
  border: 2px solid black;
  border-radius: 25px;
  width: 355px;
  height: 95px;
  padding: auto;
}
h1 {
  text-align: center;
}
.add {
  height: 111px;
  width: 95px;
  border-radius: 25px;
  font-size: 33px;
  font-weight: bold;
}
.add:hover {
  background: greenyellow;
}
