h1 {
  text-align: center;
}
.addWrapper {
  margin-bottom: 33px;
}
.addButton {
  width: 155px;
  height: 71px;
  margin-left: calc(50% - (155px / 2));
  border-radius: 25px;
  font-weight: bold;
}
.addButton:hover {
  border-color: rgb(235, 23, 76);
  background-color: rgb(43, 226, 165);
  font-size: 25px;
}
